@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: spacegrotesk;
    src: url("../src/assets/fonts/static/SpaceGrotesk-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: spacegrotesk;
    src: url("../src/assets/fonts/static/SpaceGrotesk-Medium.ttf");
    font-weight: 500;
  }
}
